@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #04152D;
}

.navList {
  list-style: none;
}

#root{
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.carouselItem{
  width: 95% !important;
  border-radius: 1rem !important;
}

::-webkit-scrollbar{
  display: none;
}


.css-13cymwt-control{
  /* border-radius: 999px !important; */
  background-color: #163D76 !important;
  color: white !important; 
}

/* .css-1i837h3-ValueContainer2{
  border-radius: 999px 0 0 999px !important;
}

.css-4xgw5l-IndicatorsContainer2{
  border-radius: 0 999px 999px 0 !important;
} */

.css-1p3m7a8-multiValue{
  background-color: black !important;
}

.css-1y7rh0y-MultiValueGeneric2{
  color: white !important;
}